.hero {
    background-image: url('./assets/hero.png');
}
*{
    font-family: 'Poppins';
}
.slider-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .slide {
    display: none;
  }
  
  .active {
    display: block;
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .left-arrow,
  .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
  }
  
  .left-arrow {
    left: 10px;
  }
  
  .right-arrow {
    right: 10px;
  }
  /* footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  } */
  